<!doctype html>
<HTML>
	<head>
        <meta charset="utf-8">
        
        <title>kudzu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='//fonts.googleapis.com/css?family=quicksand' rel='stylesheet'>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mainpage.css') }}">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		<script src="js/vendor/modernizr-2.8.3.min.js"></script>
	</head>
	<center>
	<body class='centerThis'>
		
		<img 
         src="{{ url_for('static',filename='tinyLogo.png') }}" align='middle'>
		 <p style='color:#66B666'>Kudzu is a new link-sharing network to encourage open-source, collaborative learning</p>
		 <p style='color:#3A9E5C; font-weight: bold'>ALREADY A MEMBER? LOGIN:</p>
		 {% if error%}
		 <p style='color:#00B4DE'>{{error}}</p>
		 {%endif%}
		 <form method="post">
            <p style='color:#3A9E5C'>Username:<input class='roundTextBox' type=text name=username ></p>
			<p style='color:#3A9E5C'>Password:<input class='roundTextBox' type=password name=password ></p>
			<input type=submit class="w3-button w3-theme-d1 w3-margin-bottom" value=Login>
			
        </form>
	<p >Not a member? <a href="/register" >Register Here</a></p>
	</body>
	</center>
</HTML>